body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{ display: flex; align-items: center; }
.search-sys{ margin-left: 100px; }

.flag{ margin: 10px; }

P {font-size: 14px; color: rgb(73, 73, 73);} 
.citacao {
    background-color:rgb(253, 248, 241);
    padding: 20px;;
    border-left: 1px solid red;
}

ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    text-align: center;
    margin-bottom: 10px;
}
.anchors {
    border: 1px solid #cdcdcd;
    text-align: center;
}

.sidebar {
    border-right: solid 1px #cdcdcd;
}
.sidebar ul li a:link {
    font-size: 15px;
}
.sidebar ul li a:active {
    color: black;
}
.sidebar ul li a:hover{
    color: aquamarine
}

figure {
    text-align: center;
}
figcaption{
    font-size: 12px;
}

.content-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: rgb(252, 252, 252);
}
.content-info h5{
    padding: 2px;
    width: 100%;
    display: inline;
    font-size: 15px;
    margin-block: 0;
    font-weight: normal;
    background-color: beige;
    text-align: left;
}
.content-info p{
    align-self: flex-start;
    margin-left: 5px;
    padding: 0;
}